@font-face {
  font-family: Montserrat-Medium;
  src: url(fonts/Montserrat-Medium.ttf); }

@font-face {
  font-family: OpenSans-ExtraBold;
  src: url(fonts/OpenSans-ExtraBold.ttf); }

@font-face {
  font-family: StolzlMedium;
  src: url(fonts/StolzlMedium.otf); }

@font-face {
  font-family: UniSansHeavyCaps;
  src: url(fonts/UniSansHeavyCaps.otf); }
